In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_excel('C:/Users/shreya sureka/Downloads/skill_data.xlsx')

In [6]:
df.head()

               Name                                            Skills
0    Maurice Valdez  ['reactjs', 'django', 'numpy', 'nodejs', 'html']
1      Samuel Green                     ['laravel', 'css', 'laravel']
2   Michael Rodgers   ['css', 'reactjs', 'flask', 'nodejs', 'nodejs']
3     Lindsey Leach             ['nodejs', 'html', 'html', 'reactjs']
4  Kimberly Hartman                            ['matpotlib', 'nosql']

In [7]:
df.describe()

                 Name                  Skills
count              50                      50
unique             50                      48
top     James Stanton  ['matpotlib', 'nosql']
freq                1                       2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    50 non-null     object
 1   Skills  50 non-null     object
dtypes: object(2)
memory usage: 928.0+ bytes

In [9]:
    web_devloper_skills= [
    'django',
    'html',
    'css',
    'nodejs',
    'reactjs',
    'nodejs',
    'flask',
    'laravel'
]

machine_learning_skills= [
    'nosql',
    'pandas',
    'numpy',
    'matpotlib',
    'seabron',
    'scipy'
]

##### Assigning Web Developer and Machine Learning Developer if count>3

In [13]:
#func to convert list into string
def lst2str(lst):
    str0=''
    for i in lst:
        str0+=str(i)
    return str0

In [53]:
skillLst=[]
for data in df.values:
    countWeb=0
    countML=0
   # Name=data[0]
   # skills=data[1]
    
    str1=data[1]
    str1=str1.split('\'')

    lst1=list(str1)
    lst1=np.unique(lst1)
    tempLst=[]
    for skill in lst1:
        
        if(skill in web_devloper_skills):
            countWeb+=1
        elif(skill in machine_learning_skills):
            countML+=1

    if(countWeb>=3 or countML>=3):
        if(countWeb>=3):
            tempLst.append('Web Developer')
        if(countML>=3):
            tempLst.append('Machine Learning Developer')
    else:
        tempLst.append('Not Eligible')
    skillLst.append(lst2str(tempLst))

In [54]:
print(len(skillLst))
print(skillLst)

50
['Web Developer', 'Not Eligible', 'Web Developer', 'Web Developer', 'Not Eligible', 'Machine Learning Developer', 'Not Eligible', 'Web Developer', 'Not Eligible', 'Web Developer', 'Web Developer', 'Not Eligible', 'Not Eligible', 'Not Eligible', 'Machine Learning Developer', 'Not Eligible', 'Web Developer', 'Not Eligible', 'Web Developer', 'Not Eligible', 'Not Eligible', 'Web Developer', 'Not Eligible', 'Web Developer', 'Machine Learning Developer', 'Not Eligible', 'Web Developer', 'Not Eligible', 'Web Developer', 'Not Eligible', 'Not Eligible', 'Not Eligible', 'Not Eligible', 'Not Eligible', 'Not Eligible', 'Not Eligible', 'Web Developer', 'Machine Learning Developer', 'Not Eligible', 'Not Eligible', 'Not Eligible', 'Web Developer', 'Web Developer', 'Not Eligible', 'Not Eligible', 'Not Eligible', 'Not Eligible', 'Web Developer', 'Not Eligible', 'Not Eligible']

In [55]:
df['Designation']=skillLst

In [56]:
df.head(20)

,Name,Skills,Designation
0,Maurice Valdez,"['reactjs', 'django', 'numpy', 'nodejs', 'html']",Web Developer
1,Samuel Green,"['laravel', 'css', 'laravel']",Not Eligible
2,Michael Rodgers,"['css', 'reactjs', 'flask', 'nodejs', 'nodejs']",Web Developer
3,Lindsey Leach,"['nodejs', 'html', 'html', 'reactjs']",Web Developer
4,Kimberly Hartman,"['matpotlib', 'nosql']",Not Eligible
5,Benjamin Garcia,"['numpy', 'scipy', 'matpotlib', 'nosql', 'node...",Machine Learning Developer
6,Ernest Brown,"['scipy', 'pandas', 'nodejs']",Not Eligible
7,Stephen Evans Jr.,"['seabron', 'laravel', 'nodejs', 'css', 'nosql']",Web Developer
8,Alan Rodriguez,"['reactjs', 'nodejs', 'nodejs', 'nosql']",Not Eligible
9,Emily Barnes,"['html', 'html', 'matpotlib', 'laravel', 'css'...",Web Developer
10,Christopher Kline,"['laravel', 'html', 'html', 'nodejs', 'nodejs']",Web Developer
11,Melissa Greer,"['flask', 'seabron', 'scipy']",Not Eligible
12,Paul Evans,"['nodejs', 'nosql', 'laravel']",Not Eligible
13,Lisa Perry,"['django', 'numpy', 'scipy', 'html']",Not Eligible
14,Wendy Torres,"['flask', 'reactjs', 'pandas', 'scipy', 'matpo...",Machine Learning Developer
15,Todd Patterson,"['nodejs', 'pandas']",Not Eligible
16,Aaron Mercado,"['flask', 'nodejs', 'css', 'numpy', 'django', ...",Web Developer
17,Patrick Camacho,"['nodejs', 'matpotlib', 'html', 'matpotlib']",Not Eligible
18,Aaron Sherman,"['seabron', 'nodejs', 'scipy', 'nodejs', 'html...",Web Developer
19,Gwendolyn Pearson,"['pandas', 'seabron', 'flask']",Not Eligible

In [57]:
df['Designation'].value_counts()

Not Eligible                  30
Web Developer                 16
Machine Learning Developer     4
Name: Designation, dtype: int64

In [58]:
df['Skills'].value_counts()

['matpotlib', 'nosql']                                              2
['nodejs', 'pandas']                                                2
['scipy', 'pandas', 'nodejs']                                       1
['matpotlib', 'seabron', 'nodejs', 'matpotlib', 'flask']            1
['seabron', 'laravel', 'nodejs', 'css', 'nosql']                    1
['pandas', 'laravel']                                               1
['html', 'nodejs']                                                  1
['laravel', 'matpotlib', 'scipy', 'reactjs', 'laravel', 'numpy']    1
['laravel', 'html', 'html', 'nodejs', 'nodejs']                     1
['numpy', 'scipy', 'nodejs', 'numpy', 'css', 'numpy']               1
['numpy', 'scipy', 'matpotlib', 'nosql', 'nodejs']                  1
['flask', 'nodejs', 'css', 'numpy', 'django', 'laravel']            1
['nodejs', 'flask', 'scipy', 'pandas']                              1
['seabron', 'html', 'numpy']                                        1
['css', 'nodejs', 'flask', 'nosql', 'reactjs']                      1
['reactjs', 'nodejs', 'nodejs', 'nosql']                            1
['nodejs', 'matpotlib', 'html', 'matpotlib']                        1
['nodejs', 'css']                                                   1
['html', 'html', 'css', 'nodejs', 'seabron', 'pandas']              1
['reactjs', 'nodejs', 'django']                                     1
['nosql', 'html', 'css', 'scipy']                                   1
['django', 'nodejs']                                                1
['flask', 'reactjs', 'pandas', 'scipy', 'matpotlib']                1
['nosql', 'reactjs', 'matpotlib', 'laravel']                        1
['flask', 'seabron', 'scipy']                                       1
['numpy', 'reactjs']                                                1
['seabron', 'nodejs', 'scipy', 'nodejs', 'html', 'reactjs']         1
['nosql', 'matpotlib', 'matpotlib', 'django', 'reactjs']            1
['nodejs', 'laravel', 'css', 'reactjs', 'nosql', 'flask']           1
['laravel', 'css', 'laravel']                                       1
['reactjs', 'django', 'numpy', 'nodejs', 'html']                    1
['reactjs', 'flask', 'matpotlib', 'django', 'css', 'nodejs']        1
['reactjs', 'pandas', 'html', 'flask']                              1
['laravel', 'css']                                                  1
['numpy', 'nodejs', 'flask', 'nosql', 'nodejs']                     1
['html', 'html', 'matpotlib', 'laravel', 'css', 'nodejs']           1
['nosql', 'css']                                                    1
['css', 'reactjs', 'flask', 'nodejs', 'nodejs']                     1
['nodejs', 'flask', 'scipy', 'matpotlib', 'nodejs']                 1
['css', 'nodejs', 'django', 'nodejs', 'matpotlib']                  1
['numpy', 'numpy', 'seabron']                                       1
['scipy', 'nosql', 'css', 'laravel', 'laravel']                     1
['laravel', 'nodejs', 'nosql', 'django', 'matpotlib']               1
['nodejs', 'nosql', 'laravel']                                      1
['seabron', 'nodejs', 'pandas', 'nosql']                            1
['django', 'numpy', 'scipy', 'html']                                1
['nodejs', 'html', 'html', 'reactjs']                               1
['pandas', 'seabron', 'flask']                                      1
Name: Skills, dtype: int64

In [60]:
pd.DataFrame(df, columns=['Name','Skills','Designation']).to_excel('C:/Users/shreya sureka/Downloads/Designation.xlsx')